<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <span>
      <h1>
        Acerca de Mí
      </h1>
      <p>Amplia experiencia comercial, análisis de negocios y control de procesos.
        Enfocado en cumplir con los objetivos de productividad y estándares de calidad exigidos capacidad de administrar eficientemente los recursos según los objetivos de la organización.
        Busco constantemente superar mis capacidades, mi objetivo es añadir valor y rentabilidad mediante la gestión y el trabajo en equipo.</p>
    </span>
  </div>
</div>
