<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Albarracin Cristian Bartolomé</p>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>
        Acerca de Mí
      </h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque in soluta impedit obcaecati eaque, eveniet fugit aspernatur sint. Incidunt est quibusdam provident ab. Dolor aut atque deserunt. Mollitia, harum recusandae?</p>
    </span>
  </div>
</div>
