.row{
  padding: 15px;
}
div{
  background-color: rgba(0,5,17,255);
  }

  p{
    color: white;
  }
h1{
  color: white;
}
/*etiqueta nombre*/
#nombre{
  font-weight: bold;
  margin-top: 90px;
  left: 3%;
}

/*estilo de la foto de perfil*/
@media (min-width: 768px){
  #fotoperfil{
    position: absolute;
    width: 15%;
    border-radius: 50%;
    box-shadow: 3px 3px 3px white;
    left: 3%;
    top: 280px;
  }
}
@media (max-width: 767px){
  #fotoperfil{
    position: absolute;
    width: 30%;
    border-radius: 50%;
    box-shadow: 3px 3px 3px white;
    left: 35%;
    top: 160px;
  }
}



