.gradient-custom {
  /* fallback for old browsers */
  background: rgba(0,5,17,255);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(0,5,17,255), rgba(0,5,17,255));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(0,5,17,255), rgba(0,5,17,255))
  }
